/*css pour la mise en forme*/
@import url("style.css");

body{
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

/*----------------------Mobile----------------------*/
@media (max-width: 719px){
    body{
        overflow: hidden;
        overflow-y:scroll;
    }
    
    body *{
        width: auto;
        height: auto;
        box-sizing: border-box;
        margin: auto;
        padding: auto;
    }
    
    /*====INDEX====*/
    .index img{
        display: none;
    }
    
    .index article:nth-of-type(1), .index article:nth-of-type(2), .index a{
        display: block;
        width: auto;
        width: 80vw;
    }
    
    .index article:nth-of-type(1){
        background-size: contain;
    }
    
    .index p{
        line-height: 1.6em;
        font-size: 90%;
        width: 70vw;
    }
    
    .index article:nth-of-type(2){
        width: 70vw;
    }
    
    /*====HEADER====*/
    header article{
        width: 70%;
        height: 70%;
    }
    
    header ul{
        padding: 0;
        margin: 0;
    }
    
    header ul>span li, header li:first-of-type{
        display: none;
    }
    
    header li:nth-of-type(2){
        font-size: 170%;
        padding: auto;
    }
    
    header>a{
        display: block;
        color: #94c474;
        margin: 0 3em 0 0.5em;
    }
    
    /*====CONTACT====*/
    .contact{
        right: -45em;
    }
    .contact section:nth-of-type(1){
        margin: 0;
    }
    .contact section:nth-of-type(2){
        display: none;
    }
    
    .contact section:nth-of-type(1) article img{
        height: 75%;
        margin-top: 0;
    }
    
    .contact section:nth-of-type(1) li{
        border: 0.075em solid #ffffff;
        font-size: 160%;
        padding: auto;
        margin: 0;
    }
    
    .contact iframe{
        display: none;
    }
    
    .contact section:nth-of-type(4){
        position: relative;
        margin-top: 0;
        height: auto;
        padding: 1em;
    }
    
    .contact section:nth-of-type(4) p{
        display: none;
    }
    
    .contact .fa-stack{
        font-size: 90%;
    }
    
    .contact section:nth-of-type(3){
        margin-right: 0px;
        margin-left: 0px;
        padding-right: 32px;
        margin-top: 0px;
        margin-bottom: 0px;
        top: -5em;
        width: 100vw;
        font-size: 80%;
    }
    
    .contact section:nth-of-type(3) p, .contact section:nth-of-type(3) ul{
        padding: 0.8em;
    }
    
    /*====NAV====*/
    nav{
/*        background-color: #204222;*/
        background-color: #ffffff;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: -45em;
        width: 100%;
        height: 100vh;
        transition: 2s;
        opacity: 0;
        padding: 0 1em 0 0;
        z-index: 9999999;
    }
    
     nav .fa{
        display: block;
        margin: 1em;
/*        color: #ffffff;*/
/*        color: #94c474;*/
        color: #c53211;
    }
    
    nav li:hover{
    -webkit-box-shadow: 800px 0 0 0 rgba(197, 50, 17, 0.8) inset;
    -moz-box-shadow: 800px 0 0 0 rgba(197, 50, 17, 0.8) inset;
    -ms-box-shadow: 800px 0 0 0 rgba(197, 50, 17, 0.8) inset;
    box-shadow: 800px 0 0 0 rgba(197, 50, 17, 0.8) inset;
}
    
    /*====FOOTER===*/
    footer{
        position: relative;
        height: 10em;
        display: block;
    }
    
    footer li{
        margin: 0 0.2em;
    }
    
    footer ul{
        text-align: center;
        margin: 1em 0;
    }
    
    footer p{
        text-align: center;
        line-height: 2em;
        font-size: 0.75em;
    }
    
    
    /*=========================MAIN========================*/
    main{
        padding: 0 3em;
    }
    main h1{
        font-size: 135%;
        text-align: right;
        padding: 0.8em;
    }
    
    /*====BUREAU====**/
    .bureau > section:first-of-type{
        line-height: 1.6em;
    }
    
    .bureau section section:nth-of-type(1), .bureau section section:nth-of-type(2), .bureau section section:nth-of-type(3){
        display: block;
        margin: 3em 0 6em 0;
        width: 100%;
    }
    
    
    .bureau section section div{
        display: block;
        width: 100%;
    }
    
    .bureau article{
        position: relative;
        transform: scale(1);
        margin-top: 1.5em;
        width: 50vw;
    }
    
    .bureau section section:nth-of-type(1):hover article,
    .bureau section section:nth-of-type(2):hover article,
    .bureau section section:nth-of-type(3):hover article{
        width: 50vw;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        cursor: default;
    }
    
    /*====ARCHI/VERTE====**/
    .archiverte section img{
        float: none;
        width: 60vw;
        margin: 2em 0;
    }
    
    .archiverte section p, .archiverte section  li{
        line-height: 1.6em;
    }
    
    /*====AUTOUR/MAISON====**/
    .picto{
        width: auto;
    }
    
    .picto section{
        margin: 0 0 0 1.7em;
    }
    
    .picto div{
        line-height: 1.8em;
        font-size: 1em;
    }
    
    /*====TENDANCES====**/
    .tendance{
        width: 100vw;
    }
    
    .tendance section{
        width: 100%;
        height: 100%;
        padding: 2em 0;
    }
    
    .tendance ul a{
        margin-left: 2.4em;
        margin-right: 0.4em;
        font-size: 1em;
    }
        
    /*====PROJET====**/
    .projet{
        width: 100vw;
    }
    
    .projet section{
        width: 100%;
        height: 100%;
        padding: 2em 0;
    }
    
    .projet ul{
        padding: 0;
    }
    
    .projet ul a{
        margin-left: 1em;
        margin-right: 0.4em;
        font-size: 0.85em;
    }
    
    .projet section p{
        padding-right: 0;
    }  
    
}

/*----------------------Tablette/SmallDesktop----------------------*/
@media (min-width: 720px) and (max-width: 899px){
    body{
        overflow: hidden;
        overflow-y:scroll;
    }

    body *{
        width: auto;
        height: auto;
        box-sizing: border-box;
        margin: auto;
        padding: auto;
    }

    /*====INDEX====*/
    .index article:nth-of-type(1), .index article:nth-of-type(2){
        display: block;
        width: auto;
        width: 70vw;
    }
    
    .index a{
        display: block;
        width: 30vw;
    }
    
    .index article:nth-of-type(1){
        background-size: contain;
        background-position: center;
    }
    
    .index p{
        line-height: 1.6em;
        font-size: 110%;
        width: 70vw;
        text-align: center;
    }
    
    .index article:nth-of-type(2){
        width: 70vw;
        margin: 3em 0;
    }

    /*====HEADER====*/
    header{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    header ul{
        padding: 0;
        margin: 0;
    }
    
    header li{
        font-size: 90%;
        padding: auto;
    }
    
    header li:nth-of-type(2){
        font-size: 230%;
        padding: auto;
    }
    
    header article{
        margin: 0;
    }
    
    /*====CONTACT====*/
    .contact{
        height: 100vh;
    }
    .contact section:nth-of-type(1) article, .contact section:nth-of-type(1) ul{
        margin: 0;
    }
    
    .contact section:nth-of-type(1){
        font-size: 85%;
        padding: auto;
        display: flex;
        margin: 0;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .contact section:nth-of-type(1) article{
        width: 25%;
        vertical-align: middle;
    }
    
    .contact section:nth-of-type(1) li{
        margin-top: 0;
    }
    
    .contact section:nth-of-type(2){
        width: 40vw;
        margin: 0;
        padding: 0 1.5em;
        top: -3em;
        height: auto;
        
    }
    
    .contact section:nth-of-type(3){
        width: 55vw;
        margin: 0;
        padding: 0 1.5em;
        font-size: 80%;
        top: -6em;
        height: auto;
    }
    
    .contact iframe{
        height: 230px;
        margin: 0;
    }
    
    .contact section:nth-of-type(3) p{
        padding: 0.8em 0;
    }
    
    .contact section:nth-of-type(3) ul{
        padding: 0.6em 2.6em;
    }
    
    .contact section:nth-of-type(2) input[type="button"]{
        width: 40%;
    }
    
    .contact .fa-stack{
        font-size: 90%;
    }
    
    .contact section:nth-of-type(4) p{
        font-size: 70%;
    }
    
    /*====NAV====*/
    nav{
    /*    background-color: #337aeb;*/
        width: 24vw;
        padding: 0 1em;
        margin: 0;
    }
    
    /*====FOOTER===*/
    footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        margin: 0;
        padding: 0 2em 0 0.2em;
/*        display: block;*/
    }
    
    footer .fa-stack{
        font-size: 100%;
    }
    
    footer p{
        font-size: 0.65em;
    }
    
    /*=========================MAIN========================*/
    main{
        width: 69vw;
        padding: 0 1em;
        margin: 0;
    }
    main h1{
        font-size: 135%;
        text-align: right;
        padding: 0.2em 0.8em;
    }
    
    /*====BUREAU====**/
    .bureau section:first-of-type{
        width: 92%;
        font-size: 85%;
        line-height: 1.6em;
    }
    
    .bureau section:nth-of-type(2){
        width: 100%;
        margin: auto;

    }

    .bureau section section:nth-of-type(1), .bureau section section:nth-of-type(2), .bureau section section:nth-of-type(3){
        width: 28%;
        height: 20%;
        font-size: 0.6em;
        margin: 0.9em;
    }

    .bureau section section:nth-of-type(1) div{
        height: 13em;
        background-size: contain;
    }

    .bureau section section:nth-of-type(2) div{
        height: 13em;
        background-size: contain;
    }

    .bureau section section:nth-of-type(3) div{
        height: 13em;
        background-size: contain;
    }
    
    .bureau article{
/*        width: 10%;*/
        height: 18.5em;
        padding: 1.4em;
    }

    .bureau section section:nth-of-type(1):hover article,
    .bureau section section:nth-of-type(2):hover article,
    .bureau section section:nth-of-type(3):hover article{
        width: 100%;
        font-size: 82%;
        line-height: 1.8em;
    }
    
    /*====ARCHI/VERTE====**/
    .archiverte section{
        width: 92%;
    }
    
    .archiverte section p, .archiverte section  li{
        line-height: 1.65em;
        font-size: 74%;
    }
    
    .archiverte section img{
        width: 18vw;
        margin: 1.2em;
    }







}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    