*{box-sizing: border-box;}
            
body{
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto;
}


/*----------------------HEADER------------------------*/
header{
/*    background-color: #eb3344;*/
/*    position: fixed;*/
/*    top: 0;*/
    width: 100%;
    height: 10em;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
.hamburger.hamburger--collapse{
    display: none;
    color: #94c474;
}
*/

header>a{
    display: none;
}

header article{
/*    background-image: url('../images/logo/LogoFullVert.png');*/
/*    width: 22vw;*/
    width: 18em;
    height: 8em;
/*    background-repeat: no-repeat;*/
/*    background-position: left;*/
}
header article img{
    width: 90%;
}

header li{
    display: inline-block;
    margin: 0 0.5em;
}

header li:nth-of-type(2){
    font-size: 2.5em;
    padding: 0.4em;
    border: 0.05em solid #94c474;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    -ms-border-radius: 10em;
    border-radius: 10em;
    font-weight: 200;
}

header a{
    text-decoration: none;
    color: #94c474;
}

header ul>span li{
    font-weight: 700;
}

header ul>span li:hover, header li:first-of-type:hover{
    border-bottom: 2px solid #94c474;
}


/*----------------------MENU-----------------------------*/
nav{
/*    background-color: #337aeb;*/
    width: 21vw;
    padding: 0 1em;
}

nav .fa{
    display: none;
}

nav ul{
    padding-left: 0.8em;
}

nav li{
    display: block;
    border-bottom: 0.5px solid #94c474;
    text-align: center;
    -webkit-transition:all 0.8s, color 0.3s 0.3s;
    -moz-transition:all 0.8s, color 0.3s 0.3s;
    -ms-transition:all 0.8s, color 0.3s 0.3s;
    transition:all 0.8s, color 0.3s 0.3s;
}

nav a{
    display: block;
    padding: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-weight: 300;
    
}

nav li:hover{
    -webkit-box-shadow: 300px 0 0 0 rgba(197, 50, 17, 0.8) inset;
    -moz-box-shadow: 300px 0 0 0 rgba(197, 50, 17, 0.8) inset;
    -ms-box-shadow: 300px 0 0 0 rgba(197, 50, 17, 0.8) inset;
    box-shadow: 300px 0 0 0 rgba(197, 50, 17, 0.8) inset;
}

nav span:first-of-type li{
    border-left: 10px solid #c53211;
}

nav span:first-of-type a{
    color: #c53211;
    font-weight: 700;
    font-size: 1.05em;
    -webkit-transition:all 0.8s, color 0.3s 0.3s;
    -moz-transition:all 0.8s, color 0.3s 0.3s;
    -ms-transition:all 0.8s, color 0.3s 0.3s;
    transition:all 0.8s, color 0.3s 0.3s;
    
}

nav span:first-of-type a:hover{
    color: #000000;
}




/*----------------------MAIN-----------------------------*/
main{
/*    background-color: #ebc133;*/
    width: 79vw;
    padding: 0 3em;
}

main h1{
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
    color: #204222;
    padding: 0em 1.9em;
}


/*----------------------FOOTER-----------------------------*/
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
/*    background-color: #dd33eb;*/
    height: 3.4em;
    padding: 0 2.9em 0 3.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul{
    padding: 0;
}

footer li{
    display: inline-block;
}

footer a:hover .fa-circle{
    color: #c53211;
}

.fa-circle{
    color: #94c474;
}

footer p{
    font-weight: 300;
    font-size: 0.8em;
}





/*=================================================================================*/
/*=======================================CONTACT===================================*/
/*=================================================================================*/
.contact{
    background-color: #204222;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    top: 0;
    right: -100em;
    width: 100%;
    height: 100vh;
    transition: 2s;
    opacity: 0;
}


/*>>>>>>>>>>>>>>>>>>>>>>>>HEADER*/
.contact section:nth-of-type(1){
/*    background-color: #eb3344;*/
/*    position: fixed;*/
/*    top: 0;*/
    width: 100vw;
    height: 10em;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact section:nth-of-type(1) article{
    width: 18em;
    height: 8em;
}

.contact section:nth-of-type(1) article img{
    width: 90%;
}

.contact section:nth-of-type(1) li{
    font-size: 2.4em;
    padding: 0.4em 0.6em;
    border: 0.06em solid #ffffff;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    -ms-border-radius: 50em;
    border-radius: 50em;
    font-weight: 200;
    display: inline-block;
    margin: 0.5em;
}

.contact section:nth-of-type(1) a{
    text-decoration: none;
    color: #ffffff;
}


/*>>>>>>>>>>>>>>>>>>>>>>>>FORMULAIRE*/
.contact section:nth-of-type(2){
/*    background-color: #fff;*/
    width: 40vw;
    padding: 0em 2em 0em 3.8em;
    position: relative;
    top: -0.2em;
}


.contact section:nth-of-type(2) input{
    width: 100%;
    padding: 0.3em;
    background-color: #204222;
    border: none;
    border-bottom: 0.15em solid #ffffff;
    margin-bottom: 1em;
    margin-top: 0.5em;
    color: #ffffff;
}



::-webkit-input-placeholder {
/*    color: #204222;*/
    color: #ffffff;
    font-weight: 300;
    opacity: 0.50;
}

:-moz-placeholder { /* Firefox 18- */
    color: #ffffff;
    font-weight: 300;
    opacity: 0.80;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #ffffff;
    font-weight: 300;
    opacity: 0.80;
}

:-ms-input-placeholder {  
    color: #ffffff;
    font-weight: 300;
    opacity: 0.80;
}

.contact section:nth-of-type(2) textarea{
    width: 100%;
    padding: 0.3em;
    border: 0.15em solid #ffffff;
    background-color: #204222;
    margin-bottom: 0.6em;
    margin-top: 0.5em;
    resize: none;
    color: #ffffff;
}

.contact section:nth-of-type(2) input[type="button"]{
    width: 25%;
    background-color: #ffffff;
    font-weight: 500;
    color: #204222;
}

.contact div{
    display: none;
    margin: auto;
    background-color: #ffffff;
    color: #204222;
    border: 0.5em solid #204222;
    padding: 0.5em;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>INFORMATIONS*/
.contact section:nth-of-type(3){
/*    background-color: #fffac4;*/
    width: 60vw;
    padding: 0em 5.5em 1em 2em;
    position: relative;
    top: -0.2em;
}

.contact section:nth-of-type(3) p{
    text-align: right;
    font-weight: 500;
    font-size: 1.8em;
    color: #204222;
    color: #ffffff;
    margin: 0;
    
}

.contact section:nth-of-type(3) li{
    display: inline-block;
    margin-right: 0.4em;
    font-weight: 500;
    color: #204222;
    color: #ffffff;
    vertical-align: middle;
}

.contact section:nth-of-type(3) li:nth-of-type(1){
    font-size: 1.2em;
    font-weight: 300;
}

.contact section:nth-of-type(3) li:nth-of-type(2){
    font-size: 0.8em;
    font-weight: 300;
}

.contact section:nth-of-type(3) iframe{
    width: 94%;
    margin: 0em 2.6em;
}


/*>>>>>>>>>>>>>>>>>>>>>>>>FOOTER*/
.contact section:nth-of-type(4){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
/*    background-color: #dd33eb;*/
    height: 3.4em;
    padding: 0 2.9em 0 3.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact section:nth-of-type(4) ul{
    padding: 0;
}

.contact section:nth-of-type(4) li{
    display: inline-block;
}

.contact section:nth-of-type(4) a:hover .fa-circle{
    color: #c53211;
}

.contact .fa-circle{
    color: #ffffff;
}

.contact .fa-facebook, .contact .fa-twitter, .contact .fa-google-plus, .contact .fa-linkedin{
    color: #204222;
}

.contact section:nth-of-type(4) p{
    font-weight: 300;
    font-size: 0.8em;
    color: #ffffff;
}







/*=================================================================================*/
/*====================================INDEX-ACCUEIL================================*/
/*=================================================================================*/
.index img{
    width: 100vw;
    margin-top: 4em;
    position: fixed;
    bottom: 0;
    left: 0;
}

.index article:nth-of-type(1), .index article:nth-of-type(2), .index a {
    margin-top: 1.5em;
    display: inline-block;
    vertical-align: middle;
}

.index article:nth-of-type(1){
    width: 26vw;
    height: 8em;
    background-image: url('../images/logo/LogoFullVert.svg');
    background-repeat: no-repeat;
    background-position: left;
/*                background-size: contain;*/
    padding: 1em;
    margin-left: 2em;
    margin-top: 2.4em;
}         

.index p{
    text-align: left;
    line-height: 0.5em;
    font-size: 1.2em;
    width: 36em;
    font-weight: 400;
}

.index p strong{
    color: #204222;
}

.index a{
    text-decoration: none;
    text-align: center;
    position: relative;
    right: 0;
    border: 1px solid #94c474;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    border-radius: 12px;
    padding: 1em;
    color: #94c474;
    font-size: 1.2em;
    font-weight: 400;

}








/*=================================================================================*/
/*========================================BUREAU===================================*/
/*=================================================================================*/
.bureau > section:first-of-type{
    width: 88.5%;
    margin: auto;
    text-align: justify;
    font-weight: 300;
    padding-bottom: 0.6em;
    line-height: 1.2em;
    font-size: 0.95em;
}

.bureau section:nth-of-type(2){
    width: 78%;
    margin: auto;

}

.bureau section section:nth-of-type(1), .bureau section section:nth-of-type(2), .bureau section section:nth-of-type(3){
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 32%;
    height: 28%;
    font-size: 0.6em;
}

.bureau section section:nth-of-type(1) div{
    height: 16em;
    background-image: url('../images/photos/profilPhoto1@1x.png');
    background-repeat: no-repeat;
    background-position: center;
}

.bureau section section:nth-of-type(2) div{
    height: 16em;
    background-image: url('../images/photos/profilPhoto2@1x.png');
    background-repeat: no-repeat;
    background-position: center;
}

.bureau section section:nth-of-type(3) div{
    height: 16em;
    background-image: url('../images/photos/profilPhoto3@1x.png');
    background-repeat: no-repeat;
    background-position: center;
}

.bureau article{
    width: 100%;
    height: 16.5em;
    padding: 1.4em;
/*    vertical-align: top;*/
    position: absolute;
    top: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: rgba(148, 196, 116, 1);
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
    color: #204222;
    cursor: pointer;
}

.bureau section section:nth-of-type(1):hover article,
.bureau section section:nth-of-type(2):hover article,
.bureau section section:nth-of-type(3):hover article{
    width: 28em;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.bureau h3{
    font-weight: 700;
    font-size: 1.6em;
    margin: 0;
    text-align: right;
}

.bureau li{
    display: inline-block;
    padding: 0.1em;
    font-weight: 400;
    font-size: 1.2em;
}

.bureau article p cite{
    font-weight: 300;
}

.bureau article p{
    font-weight: 400;
    font-size: 1.4em;
}


.bureau ul{
    padding: 0;
}









/*=================================================================================*/
/*=======================================PROJETS===================================*/
/*=================================================================================*/
.projet ul{
    text-align: right;
}

.projet li{
    display: inline-block;
}

.projet ul a{
    text-decoration: none;
    color: #204222;
    width: 3em;
    margin-right: 3.2em;
    font-size: 1.2em;
}

.projet ul a:hover{
    border-bottom: 0.3em solid #94c474;
    padding-bottom: 0.4em;
}

.projet section{
    width: 88.5%;
    height: 24em;
    padding: 1em;
    margin: auto;
}

.projet section #gallery{
    width: 100%;
    height: 20em;
    
}

.projet section:nth-of-type(1){
/*    background-color: #94c474;*/
}

.projet section:nth-of-type(2){
/*    background-color: #d43472;*/
}

.content{
    display: none;
}

#block1{
    display: block;
}

.isActiveTendance{
    border-bottom: 0.3em solid #94c474 !important;
    padding-bottom: 0.4em !important;
}

.projet section p{
    font-weight: 300;
    font-size: 0.85em;
    padding: 0 1.5em 1em 0;
    text-align: right;
    margin: 0;
}

/*=================================================================================*/
/*==================================ARCHITECTURE-VERTE==============================*/
/*=================================================================================*/
.archiverte section{
    width: 88.5%;
    margin: auto;
}

.archiverte section img{
    width: 25%;
    position: relative;
    float: left;
    margin-right: 3em;
}

.archiverte section p, .archiverte section  li{
    font-weight: 300;
    font-size: 0.95em;
    line-height: 1.2em;
    text-align: justify;
}

.archiverte section li{
    font-weight: 400;
    font-style: italic;
    font-size: 0.8em;
}







/*=================================================================================*/
/*====================================AUTOUR-MAISON================================*/
/*=================================================================================*/
.picto{
    width: 70%;
    margin: auto;
    margin-top: 1.5em;
}

.picto section{
    width: 8em;
    height: 16em;
    display: inline-block;
    margin: 0em 3em;
    vertical-align: top;
}

.picto div{
    width: 100%;
    height: 8em;
    padding: 0.5em;
    display: none;
    font-weight: 300;
    font-size: 0.8em;
}

.picto div a{
    text-decoration: none;
    color: #204222;
}

.picto div a:hover{
    color: #94c474;
    font-weight: 500;
}

.picto div a:hover::before{
    content: "> ";
    color: #94c474;
    font-weight: 500;
}

.picto article{
    width: 100%;
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0 0 0 5em inset, 0 0 0.5em grey;
    -moz-box-shadow: 0 0 0 5em inset, 0 0 0.5em grey;
    -ms-box-shadow: 0 0 0 5em inset, 0 0 0.5em grey;
    box-shadow: 0 0 0 5em inset, 0 0 0.5em grey;
    -webkit-transition: box-shadow;
    -moz-transition: box-shadow;
    -ms-transition: box-shadow;
    transition: box-shadow;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    transition-duration: 1s;
    color: #94c474;
}

.picto article::after{
    width:82%;
    height: 82%;
    display: block;
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    font-size: 1em;
    border: 0.15em solid;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: opacity 1s .5s;
    -moz-transition: opacity 1s .5s;
    -ms-transition: opacity 1s .5s;
    transition: opacity 1s .5s;
}

.picto article:hover{
    -webkit-transition: box-shadow 1s;
    -moz-transition: box-shadow 1s;
    -ms-transition: box-shadow 1s;
    transition: box-shadow 1s;
    -webkit-box-shadow: 0 0 0 0.2em inset, 0 0 0.2em grey, 0 0 0.8em grey inset;
    -moz-box-shadow: 0 0 0 0.2em inset, 0 0 0.2em grey, 0 0 0.8em grey inset;
    -ms-box-shadow: 0 0 0 0.2em inset, 0 0 0.2em grey, 0 0 0.8em grey inset;
    box-shadow: 0 0 0 0.2em inset, 0 0 0.2em grey, 0 0 0.8em grey inset;
    cursor: pointer;
}

.picto article:hover::after{
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

/*Texte + picto*/
.picto section:nth-of-type(1) article{
    background-image: url('../images/picto/primeEnergie.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.picto section:nth-of-type(1) article::after{
    content: "Prime d'énergie";
}

.picto section:nth-of-type(2) article{
    background-image: url('../images/picto/pretHypo.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.picto section:nth-of-type(2) article::after{
    content: "Prêt hypothécaire";
}

.picto section:nth-of-type(3) article{
    background-image: url('../images/picto/event.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.picto section:nth-of-type(3) article::after{
    content: "Events";
}

.picto section:nth-of-type(4) article{
    background-image: url('../images/picto/astuce.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.picto section:nth-of-type(4) article::after{
    content: "Trucs & Astuces";
}

.picto section:nth-of-type(5) article{
    background-image: url('../images/picto/materiaux.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.picto section:nth-of-type(5) article::after{
    content: "Matériaux";
}

.picto section:nth-of-type(6) article{
    background-image: url('../images/picto/social.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.picto section:nth-of-type(6) article::after{
    content: "Associations d'architectes";
}







/*=================================================================================*/
/*======================================TENDANCES==================================*/
/*=================================================================================*/
.tendance ul{
    text-align: right;
/*    margin-bottom: 1em;*/
}

.tendance li{
    display: inline-block;
}

.tendance ul a{
    text-decoration: none;
    color: #204222;
    width: 3em;
    margin-right: 3.2em;
    font-size: 1.2em;
}

.tendance ul a:hover{
    border-bottom: 0.3em solid #94c474;
    padding-bottom: 0.4em;
}

.tendance section{
    width: 88.5%;
    height: 24em;
    padding: 1em;
    margin: auto;
}

.tendance section #gallery{
    width: 100%;
    height: 20em;
    
}

.tendance section:nth-of-type(1){
/*    background-color: #94c474;*/
}

.tendance section:nth-of-type(2){
/*    background-color: #d43472;*/
}

.content{
    display: none;
}

#block1{
    display: block;
}

.isActiveTendance{
    border-bottom: 0.3em solid #94c474 !important;
    padding-bottom: 0.4em !important;
}







